<div class="mb-3">
  <h3>Genres</h3>
  <div class="row row-cols-2 row-cols-md-6 row-cols-lg-12">
    <%= form.collection_check_boxes :tag_ids, @tags, :id, :name do |b| %>
      <div class="col mb-2">
        <div class="form-check">
          <%= b.check_box(class: "form-check-input") %>
          <%= b.label(class: "form-check-label") %>
        </div>
      </div>
    <% end %>
  </div>
</div>