<%= csrf_meta_tags %>
<%= javascript_pack_tag 'artist-cards-bundle' %>

<div class="container" style="margin-top:200px;">
  <h1>Artists</h1>
  <!--
  # TODO: change back to prerender true for SEO optimization
  # TODO: change back to prerender true for SEO optimization
  # TODO: change back to prerender true for SEO optimization
  # TODO: change back to prerender true for SEO optimization
  # TODO: change back to prerender true for SEO optimization
  # TODO: change back to prerender true for SEO optimization
  # TODO: change back to prerender true for SEO optimization
  -->
  <%= react_component("ArtistCards", props: { artistData: @data }) %>
</div>