<div id="desktopCarouselControls" class="carousel slide" data-bs-ride="carousel">

  <button class="carousel-control-prev" type="button" data-bs-target="#desktopCarouselControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#desktopCarouselControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  <div class="carousel-inner">
    <% @data.stage_schedules.each_slice(3).with_index do |stage_group, index| %>
      <div class="carousel-item mt-4 <%= 'active' if index.zero? %>">
        <div class="carousel-columns-wrapper row">
          <% stage_group.each do |stage_name, performances| %>
            <div class="carousel-column col-lg-4">
              <div class="carousel-column-body">

                <!-- Stage Name Card START -->
                <div class="card m-3 text-center border-gray <%= stage_css_color_classes[stage_name] %>">
                  <div class="card-body text-white align-items-center justify-content-center">
                    <h2 class="card-title mb-0"><%= stage_name %></h2>
                    <div class="row">
                      <div class="text-center">
                        <i class="bi bi-geo-alt-fill text-white me-2"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Stage Name Card END -->

                <% performances.each do |performance| %>
                  <%= render 'performance_card', performance: performance, stage_name: stage_name %>
                <% end %>

              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div> 

<style>
.carousel-columns-wrapper {
  display: flex;
}

.carousel-column {
  flex: 0 0 33.333%; /* Change to create three equal columns */
  max-width: 33.333%; /* Match the flex-basis */
}

.carousel-column-body {
  height: 100%;
  overflow-y: auto;
}

.carousel-inner {
  padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #1a1a1a;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  transform: translateY(-50%);
}

@media (max-width: 767px) {
  .carousel-column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
</style>