<h1>Editing stage schedule</h1>

<%= render "form", stage_schedule: @stage_schedule %>

<br>

<div>
  <%= link_to "Show this stage schedule", @stage_schedule %> |
  <%= link_to "Back to stage schedules", stage_schedules_path %>
</div>
