<h1>Editing activation</h1>

<%= render "form", activation: @activation %>

<br>

<div>
  <%= link_to "Show this activation", @activation %> |
  <%= link_to "Back to activations", activations_path %>
</div>
