<% if current_user&.admin? %>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="https://ncfolkfestival.com/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/favorites">Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/artists">Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/stage_schedules">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/stages">Stages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/vendors?category=eat_drink">Eat & Drink</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/vendors?category=shop_do">Shop & Do</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/vendors?category=activation">Activations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/vendors?unapproved_listings=true">Unapproved Listings</a>
          </li>
          <li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>