<div class="row m-4 p-4">
  <div class="col-md text-center m-4 p-4">
    <small>&copy; <%= Date.current.year %>  <a href="http://gatecitysoftware.com/" target="_blank" rel="noopener noreferrer">Gate City Software</a></small>
  </div>
</div>