<div class="row py-3">
  <div class="col-md-7">
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#">Other Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Blog</a>
  </li>
  <li class="nav-item">
   <!-- Example single danger button -->
<div class="btn-group dropup">
  <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Social Media
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="https://www.youtube.com/channel/UCaj6HRoG3Vlr0YaAF_4Lwig">Youtube</a>
    <a class="dropdown-item" href="https://facebook.com/codingmoneycom">Facebook</a>
    <a class="dropdown-item" href="https://instagram.com/codingmoneycom">Instagram</a>
    <a class="dropdown-item" href="https://twitter.com/codingmoneycom">Twitter</a>
  </div>
</div>
  </li>
 
</ul>
  </div>
  <div class="col-md text-md-right">
    <small>&copy; 2020  <a href="http://todo.com/">Platform created for NCFF by Gate City Software</a></small>
  </div>
</div>