<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag("ncff-10-anv-logo.png", height: '100px') %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto text-primary">
        <li class="nav-item">
          <a class="nav-link" href="https://ncfolkfestival.com/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/artists">Artists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stage_schedules">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stages">Stages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vendors?category=eat_drink">Eat & Drink</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vendors?category=shop_do">Shop & Do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vendors?category=activation">Activations</a>
        </li>
      </ul>
    </div>
  </div>
</nav>