<div id="<%= dom_id external_link %>">
  <p>
    <strong>Url:</strong>
    <%= external_link.url %>
  </p>

  <p>
    <strong>Link type:</strong>
    <%= external_link.link_type %>
  </p>

  <p>
    <strong>ExternalLinks:</strong>
    <%= external_link.linkable_id %>
  </p>

</div>
