<h1>Editing external link</h1>

<%= render "form", external_link: @external_link %>

<br>

<div>
  <%= link_to "Show this external link", @external_link %> |
  <%= link_to "Back to external links", external_links_path %>
</div>
