
      <!-- Target audience -->
      <section class="container pt-5 mt-xl-3 mt-xxl-5">
        <div class="row pt-1 pt-sm-3 pt-md-4 pt-lg-5 mt-xl-2">
          <div class="col-lg-4">
            <h2 class="h1 pb-1 pb-sm-2 mb-4">Explore all there is to do</h2>
          </div>
          <div class="col-lg-8 col-xl-7 offset-xl-1">
            <div class="ps-lg-4 ps-xl-0">
              <div data-simplebar>
                <ul class="nav nav-tabs flex-nowrap mb-2" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link text-nowrap px-4 px-lg-3 px-xl-4 active" href="#designers" data-bs-toggle="tab" role="tab">Artists</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-nowrap px-4 px-lg-3 px-xl-4" href="#developers" data-bs-toggle="tab" role="tab">Stages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-nowrap px-4 px-lg-3 px-xl-4" href="#managers" data-bs-toggle="tab" role="tab">Eat & Drink</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-nowrap px-4 px-lg-3 px-xl-4" href="#marketers" data-bs-toggle="tab" role="tab">Shop & Do</a>
                  </li>
                </ul>
              </div>

              <div class="tab-content py-2 pb-md-0 pt-sm-3 pt-lg-4 mb-4 mb-md-5">
                <div class="tab-pane fade show active" id="designers" role="tabpanel">
                  <p class="fs-xl mb-4">Find performances by artist, genre or stage</p>
                  <ul class="fs-xl mb-0">
                    <li class="mb-1">Artists from all over the world.</li>
                    <li class="mb-1">Various mediums are used to express artistic visions.</li>
                    <li class="mb-1">Creativity and technical skills combine in artistic work.</li>
                    <li class="mb-1">Artists often collaborate on innovative projects.</li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="developers" role="tabpanel">
                  <p class="fs-xl mb-4">Get directions to stages and view lineups</p>
                  <ul class="fs-xl mb-0">
                    <li class="mb-1">Stages provide platforms for diverse performances.</li>
                    <li class="mb-1">Lighting and sound enhance the audience experience.</li>
                    <li class="mb-1">Various stage types accommodate different event needs.</li>
                    <li class="mb-1">Stage management ensures smooth show execution.</li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="managers" role="tabpanel">
                  <p class="fs-xl mb-4">Find the perfect spot to grab a bite or a drink</p>
                  <ul class="fs-xl mb-0">
                    <li class="mb-1">Diverse culinary options satisfy every palate.</li>
                    <li class="mb-1">Local and international cuisines are readily available.</li>
                    <li class="mb-1">Beverages range from craft cocktails to artisanal coffees.</li>
                    <li class="mb-1">Food festivals celebrate gastronomic diversity.</li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="marketers" role="tabpanel">
                  <p class="fs-xl mb-4">Find local vendors with unique offerings</p>
                  <ul class="fs-xl mb-0">
                    <li class="mb-1">Retail therapy offers a wide product selection.</li>
                    <li class="mb-1">Interactive experiences enhance shopping adventures.</li>
                    <li class="mb-1">Local artisans showcase unique handcrafted goods.</li>
                    <li class="mb-1">Entertainment venues provide diverse activity options.</li>
                  </ul>
                </div>
              </div>

              <a class="btn btn-lg btn-primary w-100 w-sm-auto" href="#tickets" data-scroll data-scroll-offset="120">
                Buy access pass
                <i class="ai-arrow-down ms-2 me-n2"></i>
              </a>
            </div>
          </div>
        </div>
      </section>