
      <!-- Target audience -->
      <section class="container pt-5 mt-xl-3 mt-xxl-5">
        <div class="row pt-1 pt-sm-3 pt-md-4 pt-lg-5 mt-xl-2">
          <div class="col-lg-4">
            <h2 class="h1 pb-1 pb-sm-2 mb-4">Who may attend Conference?</h2>
          </div>
          <div class="col-lg-8 col-xl-7 offset-xl-1">
            <div class="ps-lg-4 ps-xl-0">
              <div data-simplebar>
                <ul class="nav nav-tabs flex-nowrap mb-2" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link text-nowrap px-4 px-lg-3 px-xl-4 active" href="#designers" data-bs-toggle="tab" role="tab">UI/UX Designers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-nowrap px-4 px-lg-3 px-xl-4" href="#developers" data-bs-toggle="tab" role="tab">Developers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-nowrap px-4 px-lg-3 px-xl-4" href="#managers" data-bs-toggle="tab" role="tab">Managers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-nowrap px-4 px-lg-3 px-xl-4" href="#marketers" data-bs-toggle="tab" role="tab">Marketers</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content py-2 pb-md-0 pt-sm-3 pt-lg-4 mb-4 mb-md-5">
                <div class="tab-pane fade show active" id="designers" role="tabpanel">
                  <p class="fs-xl mb-4">Ipsum sed nascetur dolor accumsan integer phasellus tincidunt. Nulla quisque pellentesque adipiscing placerat integer feugiat facilisi elit mi. Dictum nunc lacinia vel molestie laoreet aliquet ridiculus diam justo viverra.</p>
                  <ul class="fs-xl mb-0">
                    <li class="mb-1">At donec auctor quam ut scelerisque dui.</li>
                    <li class="mb-1">Mollis sed fringilla placerat lobortis viverra aliquam ut nisl nisi.</li>
                    <li class="mb-1">Odio ullamcorper in praesent venenatis non non sed pharetra dipise.</li>
                    <li class="mb-1">Lobortis dui nibh at condimentum.</li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="developers" role="tabpanel">
                  <p class="fs-xl mb-4">Etiam sed porta massa. In sapien metus, lobortis eu tortor id, maximus commodo enim. Phasellus feugiat mi vitae enim cursus, ut scelerisque augue scelerisque. Pellentesque habitant morbi tristique senectus et netus.</p>
                  <ul class="fs-xl mb-0">
                    <li class="mb-1">Donec imperdiet dolor at leo sodales.</li>
                    <li class="mb-1">Fringilla placerat lobortis viverra aliquam ut nisl nisi.</li>
                    <li class="mb-1">Lobortis ullamcorper in praesent venenatis non non sed pharetra dipise.</li>
                    <li class="mb-1">Mollis dui nibh at condimentum.</li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="managers" role="tabpanel">
                  <p class="fs-xl mb-4">Ipsum sed nascetur dolor accumsan integer phasellus tincidunt. Nulla quisque pellentesque adipiscing placerat integer feugiat facilisi elit mi. Dictum nunc lacinia vel molestie laoreet aliquet ridiculus diam justo viverra.</p>
                  <ul class="fs-xl mb-0">
                    <li class="mb-1">At donec auctor quam ut scelerisque dui.</li>
                    <li class="mb-1">Mollis sed fringilla placerat lobortis viverra aliquam ut nisl nisi.</li>
                    <li class="mb-1">Odio ullamcorper in praesent venenatis non non sed pharetra dipise.</li>
                    <li class="mb-1">Lobortis dui nibh at condimentum.</li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="marketers" role="tabpanel">
                  <p class="fs-xl mb-4">Etiam sed porta massa. In sapien metus, lobortis eu tortor id, maximus commodo enim. Phasellus feugiat mi vitae enim cursus, ut scelerisque augue scelerisque. Pellentesque habitant morbi tristique senectus et netus.</p>
                  <ul class="fs-xl mb-0">
                    <li class="mb-1">Donec imperdiet dolor at leo sodales.</li>
                    <li class="mb-1">Fringilla placerat lobortis viverra aliquam ut nisl nisi.</li>
                    <li class="mb-1">Lobortis ullamcorper in praesent venenatis non non sed pharetra dipise.</li>
                    <li class="mb-1">Mollis dui nibh at condimentum.</li>
                  </ul>
                </div>
              </div>
              <a class="btn btn-lg btn-primary w-100 w-sm-auto" href="#tickets" data-scroll data-scroll-offset="120">
                Buy access pass
                <i class="ai-arrow-down ms-2 me-n2"></i>
              </a>
            </div>
          </div>
        </div>
      </section>