
      <!-- Sponsors -->
      <section class="bg-secondary pb-md-2 pt-lg-2 pb-lg-4 py-xl-4 py-xxl-5">
        <div class="container py-5">
          <h2 class="h1 text-center pb-sm-2 py-md-3 mt-sm-2 mb-lg-4">Sponsored by</h2>
          <div class="mb-4 mb-lg-5 pb-3 px-3" data-simplebar>
            <div class="row row-cols-lg-4 flex-nowrap flex-lg-wrap gy-lg-5 mx-n3">
              <div class="col" style="min-width: 225px;">
                <img class="d-block d-dark-mode-none mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/envato-dark.svg" alt="Logo">
                <img class="d-none d-dark-mode-block mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/envato-light.svg" alt="Logo">
                <p class="text-body-secondary mb-2">Faucibus amet cursus accumsan eleifend tempus diam id duis. Mi velit nulla purus commodo non.</p>
              </div>
              <div class="col" style="min-width: 225px;">
                <img class="d-block d-dark-mode-none mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/angular-dark.svg" alt="Logo">
                <img class="d-none d-dark-mode-block mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/angular-light.svg" alt="Logo">
                <p class="text-body-secondary mb-2">Nulla consequat tincidunt ut aliquet quam dignissim. Sagittis, enim libero ultrices eleifend congue.</p>
              </div>
              <div class="col" style="min-width: 225px;">
                <img class="d-block d-dark-mode-none mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/pingdom-dark.svg" alt="Logo">
                <img class="d-none d-dark-mode-block mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/pingdom-light.svg" alt="Logo">
                <p class="text-body-secondary mb-2">Ornare leo sed gravida quam volutpat vulputate massa aliquam. Sem lacus, quam tellus duis sit pellentesque.</p>
              </div>
              <div class="col" style="min-width: 225px;">
                <img class="d-block d-dark-mode-none mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/woocommerce-dark.svg" alt="Logo">
                <img class="d-none d-dark-mode-block mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/woocommerce-light.svg" alt="Logo">
                <p class="text-body-secondary mb-2">Imperdiet nunc, mauris, sed at egestas. Massa laoreet facilisis turpis adipiscing semper venenatis ipsum.</p>
              </div>
              <div class="col" style="min-width: 225px;">
                <img class="d-block d-dark-mode-none mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/magento-dark.svg" alt="Logo">
                <img class="d-none d-dark-mode-block mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/magento-light.svg" alt="Logo">
                <p class="text-body-secondary mb-2">Purus eu faucibus at vel, aliquam. Faucibus nibh odio sed elementum blandit ut sociis et.</p>
              </div>
              <div class="col" style="min-width: 225px;">
                <img class="d-block d-dark-mode-none mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/bootstrap-dark.svg" alt="Logo">
                <img class="d-none d-dark-mode-block mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/bootstrap-light.svg" alt="Logo">
                <p class="text-body-secondary mb-2">Adipiscing ultrices risus maecenas libero donec nam. In sollicitudin nulla sagittis, neque sit ullamcorper.</p>
              </div>
              <div class="col" style="min-width: 225px;">
                <img class="d-block d-dark-mode-none mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/laravel-dark.svg" alt="Logo">
                <img class="d-none d-dark-mode-block mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/laravel-light.svg" alt="Logo">
                <p class="text-body-secondary mb-2">Pharetra morbi id nibh ut at risus tortor consequat. Dictum urna vulputate quis ut facilisis turpis purus commodo.</p>
              </div>
              <div class="col" style="min-width: 225px;">
                <img class="d-block d-dark-mode-none mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/react-dark.svg" alt="Logo">
                <img class="d-none d-dark-mode-block mb-2 mb-lg-2" src="assets/img/landing/conference/sponsors/react-light.svg" alt="Logo">
                <p class="text-body-secondary mb-2">Suspendisse luctus maecenas tristique urna turpis aenean est. Porttitor porta nec tincidunt ut aliquet quam.</p>
              </div>
            </div>
          </div>
          <div class="text-center mb-2 mb-sm-3">
            <a class="btn btn-lg btn-primary" href="#">Become sponsor</a>
          </div>
        </div>
      </section>