<!-- Testimonials (Infinite slider) -->
      <section class="pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
        <h2 class="h1 contaier text-center pt-2 pt-sm-3 pt-md-4 pb-3 mt-md-2 mt-xxl-3 mb-lg-4">What attendees say</h2>

        <!-- First row slider -->
        <div class="swiper pb-4" data-swiper-options='{
          "spaceBetween": 24,
          "loop": true,
          "grabCursor": false,
          "centeredSlides": true,
          "autoplay": {
            "delay": 0,
            "disableOnInteraction": false
          },
          "freeMode": true,
          "speed": 10000,
          "freeModeMomentum": false,
          "breakpoints": {
            "0": { "slidesPerView": 1 },
            "500": { "slidesPerView": 2 },
            "900": { "slidesPerView": 3 },
            "1300": { "slidesPerView": 4 },
            "1600": { "slidesPerView": 5 }
          }
        }'>
          <div class="swiper-wrapper" style="transition-timing-function: linear !important;">

            <!-- Item -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 border-0 bg-secondary rounded-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                    <img class="rounded-circle" src="assets/img/avatar/23.jpg" width="60" alt="Avatar">
                    <div class="ps-3">
                      <div class="h5 mb-0">Wade Warren</div>
                      <div class="text-nowrap">
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star text-body-secondary opacity-70"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0">"Sit facilisis dolor arcu, fermentum vestibulum arcu elementum imperdiet. Mauris duis eleifend faucibus amet sagittis amet consequat aucibus."</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 border-0 bg-secondary rounded-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                    <img class="rounded-circle" src="assets/img/avatar/26.jpg" width="60" alt="Avatar">
                    <div class="ps-3">
                      <div class="h5 mb-0">Jenny Wilson</div>
                      <div class="text-nowrap">
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0">"Netus vel, amet placerat eget sit eleifend. Urna laoreet ultricies orci feugiat amet egestas semper praesent. Risus ut porttitor metus."</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 border-0 bg-secondary rounded-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                    <img class="rounded-circle" src="assets/img/avatar/27.jpg" width="60" alt="Avatar">
                    <div class="ps-3">
                      <div class="h5 mb-0">Bessie Cooper</div>
                      <div class="text-nowrap">
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-half text-warning"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0">"Netus vel, amet placerat eget sit eleifend. Urna laoreet ultricies orci feugiat amet egestas semper praesent. Risus ut porttitor metus."</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 border-0 bg-secondary rounded-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                    <img class="rounded-circle" src="assets/img/avatar/32.jpg" width="60" alt="Avatar">
                    <div class="ps-3">
                      <div class="h5 mb-0">Ralph Edwards</div>
                      <div class="text-nowrap">
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star text-body-secondary opacity-70"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0">"Odio viverra tristique id adipiscing varius. Leo vel tincidunt amet arcu. Auctor ipsum fames lacus vestibulum. Ultricies cras et at sed sed turpis."</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 border-0 bg-secondary rounded-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                    <img class="rounded-circle" src="assets/img/avatar/28.jpg" width="60" alt="Avatar">
                    <div class="ps-3">
                      <div class="h5 mb-0">Cameron Williamson</div>
                      <div class="text-nowrap">
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-half text-warning"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0">"Mauris fermentum vitae volutpat orci mattis dolor malesuada porta id. Enim, dis nisi eget tincidunt bibendum leo pulvinar in. At justo hacsit diam."</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto">
              <div class="card h-100 border-0 bg-secondary rounded-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                    <img class="rounded-circle" src="assets/img/avatar/24.jpg" width="60" alt="Avatar">
                    <div class="ps-3">
                      <div class="h5 mb-0">Annette Black</div>
                      <div class="text-nowrap">
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0">"Nisi et venenatis vitae, purus arcu. Integer lacus maecenas rhoncus nibh aliquam, enim sollicitudin interdum hendrerit. Proin venenatis varius."</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Second row slider -->
        <div class="swiper" dir="rtl" data-swiper-options='{
          "spaceBetween": 24,
          "loop": true,
          "grabCursor": false,
          "centeredSlides": true,
          "autoplay": {
            "delay": 0,
            "disableOnInteraction": false
          },
          "freeMode": true,
          "speed": 10000,
          "freeModeMomentum": false,
          "breakpoints": {
            "0": { "slidesPerView": 1 },
            "500": { "slidesPerView": 2 },
            "900": { "slidesPerView": 3 },
            "1300": { "slidesPerView": 4 },
            "1600": { "slidesPerView": 5 }
          }
        }'>
          <div class="swiper-wrapper" style="transition-timing-function: linear !important;">

            <!-- Item -->
            <div class="swiper-slide h-auto" dir="ltr">
              <div class="card h-100 border-0 bg-secondary rounded-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                    <img class="rounded-circle" src="assets/img/avatar/23.jpg" width="60" alt="Avatar">
                    <div class="ps-3">
                      <div class="h5 mb-0">Guy Hawkins</div>
                      <div class="text-nowrap">
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star text-body-secondary opacity-70"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0">"Sit facilisis dolor arcu, fermentum vestibulum arcu elementum imperdiet. Mauris duis eleifend faucibus amet sagittis amet consequat aucibus."</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto" dir="ltr">
              <div class="card h-100 border-0 bg-secondary rounded-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                    <img class="rounded-circle" src="assets/img/avatar/22.jpg" width="60" alt="Avatar">
                    <div class="ps-3">
                      <div class="h5 mb-0">Esther Howard</div>
                      <div class="text-nowrap">
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0">"Netus vel, amet placerat eget sit eleifend. Urna laoreet ultricies orci feugiat amet egestas semper praesent. Risus ut porttitor metus."</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto" dir="ltr">
              <div class="card h-100 border-0 bg-secondary rounded-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                    <img class="rounded-circle" src="assets/img/avatar/27.jpg" width="60" alt="Avatar">
                    <div class="ps-3">
                      <div class="h5 mb-0">Anneta Nikson</div>
                      <div class="text-nowrap">
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-half text-warning"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0">"Netus vel, amet placerat eget sit eleifend. Urna laoreet ultricies orci feugiat amet egestas semper praesent. Risus ut porttitor metus."</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto" dir="ltr">
              <div class="card h-100 border-0 bg-secondary rounded-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                    <img class="rounded-circle" src="assets/img/avatar/32.jpg" width="60" alt="Avatar">
                    <div class="ps-3">
                      <div class="h5 mb-0">Darrell Steward</div>
                      <div class="text-nowrap">
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star text-body-secondary opacity-70"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0">"Odio viverra tristique id adipiscing varius. Leo vel tincidunt amet arcu. Auctor ipsum fames lacus vestibulum. Ultricies cras et at sed sed turpis."</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto" dir="ltr">
              <div class="card h-100 border-0 bg-secondary rounded-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                    <img class="rounded-circle" src="assets/img/avatar/28.jpg" width="60" alt="Avatar">
                    <div class="ps-3">
                      <div class="h5 mb-0">Martha Stewart</div>
                      <div class="text-nowrap">
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-half text-warning"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0">"Mauris fermentum vitae volutpat orci mattis dolor malesuada porta id. Enim, dis nisi eget tincidunt bibendum leo pulvinar in. At justo hacsit diam."</p>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide h-auto" dir="ltr">
              <div class="card h-100 border-0 bg-secondary rounded-4">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                    <img class="rounded-circle" src="assets/img/avatar/24.jpg" width="60" alt="Avatar">
                    <div class="ps-3">
                      <div class="h5 mb-0">Kathryn Murphy</div>
                      <div class="text-nowrap">
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning me-1"></i>
                        <i class="ai-star-filled text-warning"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0">"Nisi et venenatis vitae, purus arcu. Integer lacus maecenas rhoncus nibh aliquam, enim sollicitudin interdum hendrerit. Proin venenatis varius."</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>