
<h1>Big Stuff</h1>
<ul>
  <li>Create modal (like Artist modal) for performances in Schedule area</li>
  <li>Make show page for: Artist / Vendor</li>
  <li>Make list page for: Favorites / Artists / Vendors</li>
</ul>

<h1>Less Big Stuff</h1>
<ul>
  <li>Add genres to Schedule area</li>
  <li>Hook up add to calendar</li>
  <li>Show Admin navbar</li>
</ul>

<h2>Minor Stuff</h2>
<ul>
  <li>Change page titles and meta keywords</li>
</ul>