<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <div class="card-body">
          </div>
        </div>
        <div class="card">
          <div class="card-body">
          </div>
        </div>
        <div class="card">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <div class="card-body">
          </div>
        </div>
        <div class="card">
          <div class="card-body">
          </div>
        </div>
        <div class="card">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <div class="card-body">
          </div>
        </div>
        <div class="card">
          <div class="card-body">
          </div>
        </div>
        <div class="card">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= button_tag type: "button", class: "carousel-control-prev", data: { bs_target: "#carouselExampleControls", bs_slide: "prev" } do %>
    <
  <% end %>
  <%= button_tag type: "button", class: "carousel-control-next", data: { bs_target: "#carouselExampleControls", bs_slide: "next" } do %>
    >
  <% end %>
</div>


<!-- https://www.youtube.com/watch?v=kHPm_AlxP7U -->





<style>

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #1a1a1a;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}


</style>



















