
<% if current_user&.admin? %>
  <% page_title = case
    when params[:unapproved_listings] == 'true'
      "Unapproved Listings"
    when params[:category] == 'shop_do'
      "Approved - Shop & Do"
    when params[:category] == 'eat_drink'
      "Approved - Eat & Drink"
    else
      "Vendors" # Default title
    end
  %>

<div class="row">
  <div class="col text-center">
    <h1><%= page_title %></h1>
    <button id="toggle-admin-vendor-controls" class="btn btn-lg btn-secondary">Show/Hide Admin Buttons</button>
  </div>
</div>
<% end %>

<div class="container">
  <div class="row">
    <% @data.vendors.includes(:external_links).each_with_index do |vendor, index| %>
      <div class="col-12 col-md-6">
        <%= render 'vendor_card', vendor: vendor, index: index %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#toggle-admin-vendor-controls').click(function() {
      $('.admin-vendor-controls').slideToggle();
    });
  });
</script>