
<% if current_user&.admin? %>
  <% page_title = case
    when params[:unapproved_listings] == 'true'
      "Unapproved Listings"
    when params[:category] == 'shop_do'
      "Approved - Shop & Do"
    when params[:category] == 'eat_drink'
      "Approved - Eat & Drink"
    else
      "Vendors" # Default title
    end
  %>

<div class="row">
  <div class="col text-center">
    <h1><%= page_title %></h1>
  </div>
</div>
<% end %>

<% @data.vendors.each_with_index do |vendor, index| %>
  <%= render 'vendor_card', vendor: vendor, index: index %>
<% end %>