<p style="color: green"><%= notice %></p>

<h1>Stages</h1>

<div id="stages" class="container mt-4 text-center">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% @stages.each do |stage| %>
      <div class="col">
        <%= link_to stage, class: "text-decoration-none" do %>
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title"><%= stage.name %></h5>
              <p class="card-text">
                <i class="bi bi-geo-alt-fill text-primary me-2"></i>
                <%= stage.google_place_address %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>