/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.ncff-darkblue { background-color: #1E3A5C !important; }
.ncff-red { background-color: #E94E36 !important; }
.ncff-orange { background-color: #F47D4A !important; }
.ncff-yellow { background-color: #FDB827 !important; }
.ncff-teal { background-color: #39A7B1 !important; }
.ncff-gray { background-color: #55595C !important; }

.tag-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.tag-checkbox {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 15px;
}

.tag-checkbox input[type="checkbox"] {
    margin-right: 5px;
}