<h1>Editing embedded content</h1>

<%= render "form", embedded_content: @embedded_content %>

<br>

<div>
  <%= link_to "Show this embedded content", @embedded_content %> |
  <%= link_to "Back to embedded contents", embedded_contents_path %>
</div>
