<p style="color: green"><%= notice %></p>

<h1>Embedded contents</h1>

<div id="embedded_contents">
  <% @embedded_contents.each do |embedded_content| %>
    <%= render embedded_content %>
    <p>
      <%= link_to "Show this embedded content", embedded_content %>
    </p>
  <% end %>
</div>

<%= link_to "New embedded content", new_embedded_content_path %>
