<style>
#admin-header {
  background-color: red;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logout-button {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.logout-button:hover {
  background-color: darkgreen;
}
</style>


<% if current_user&.admin? %>
  <div class="container-fluid sticky-top">
    <div class="row">
      <div id="admin-header" class="d-flex justify-content-between align-items-center">
        <p class="m-0">ADMIN USER LOGGED IN</p>
        <%= button_to "LOG OUT", logout_path, method: :delete, class: "btn btn-info ms-auto" %>
      </div>
    </div>
  </div>
<% end %>