<h1>Editing tagged item</h1>

<%= render "form", tagged_item: @tagged_item %>

<br>

<div>
  <%= link_to "Show this tagged item", @tagged_item %> |
  <%= link_to "Back to tagged items", tagged_items_path %>
</div>
